{"auto_addr":true,"auto_dns":true,"dns":"","dns2":"","ip":"","mask":"","name":"All auto","submask":""}
{"auto_addr":true,"auto_dns":false,"dns":"8.8.8.8","dns2":"8.8.4.4","ip":"","mask":"","name":"Google DNSes","submask":""}
{"auto_addr":false,"auto_dns":false,"dns":"81.180.73.222","dns2":"","ip":"10.1.8.66","mask":"255.255.255.0","name":"3-D03","submask":"10.1.8.1"}
{"auto_addr":false,"auto_dns":false,"dns":"8.8.8.8","dns2":"8.8.4.4","ip":"10.1.8.66","mask":"255.255.255.0","name":"3-D03 Google DNS","submask":"10.1.8.1"}